.cta{
	background: url("../images/bg/home-3.jpg") fixed 50% 50%;
	background-size: cover;
	padding: 120px 0px;
	@extend .overly;
}
.cta-block{
	background: url("../images/bg/home-3.jpg")no-repeat;
	background-size: cover;
	@extend .overly-2;
}
.section.cta .h6 {
	font-weight: 500;
}
.cta-item {
	p {
		font-size: 15px;
	}
	h3 {
		font-size: 18px;
	}
}