// Intro Section
.section.feature .h6 {
	font-weight: 500;
}
.intro-item{
	p {
		font-size: 15px;
	}
	i{
		font-size:60px;
		line-height: 60px;
	}
	
}

.color-one{
	color: $primary-color;
}
.color-two{
	color: #00d747;
}
.color-three{
	color:#9262ff;
}
.color-four{
	color:#088ed3;
}