<section class="section feature border-top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">{{ .preheading }}</span>
					<h2 class="mt-3 content-title ">{{ .heading }}</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			{{ range .sections }}
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="feature-item mb-5">
						<i class="{{ .icon }}"></i>
						<h4 class="mb-3">
							{{ if .url}} <a href="{{ .url }}" target="_blank"> {{ end }}
								{{ .title }}
							{{ if .url}} </a> {{ end }}
						</h4>
						<p>{{ .content | markdownify }}</p>
					</div>
				</div>
			{{ end }}
		</div>
	</div>
</section>
