
<footer class="footer section">
	<div class="container">
	  <div class="row">
		<div class="col-lg-4 col-md-6 col-sm-6">
		  <div class="widget">
			<h4 class="text-capitalize mb-4">{{- (index .Site.Data.footer.column 0).heading  -}}</h4>
			<ul class="list-unstyled footer-menu lh-35">
			  {{ range (index .Site.Data.footer.column 0).items }}
				<li>{{ partial "utilities/link.html" . }}</li>
			  {{ end }}
			</ul>
		  </div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6">
		  <div class="widget">
			<h4 class="text-capitalize mb-4">{{- (index .Site.Data.footer.column 1).heading  -}}</h4>
			<ul class="list-unstyled footer-menu lh-35">
			  {{ range (index .Site.Data.footer.column 1).items }}
			  	<li>{{ partial "utilities/link.html" . }}</li>
			  {{ end }}
			</ul>
		  </div>
		</div>
		<!--
		<div class="col-lg-3 col-md-6 col-sm-6 mx-auto">
		  <div class="widget">
			<h4 class="text-capitalize mb-4">Εγγραφείτε</h4>
			<p>Για τις τελευταίες ενημερώσεις</p>
  
			<form action="#" class="sub-form">
			  <input type="text" class="form-control mb-3" placeholder="Εγγραφή ...">
			  <a href="#" class="btn btn-main btn-small">ΕΓΓΡΑΦΗ</a>
			</form>
		  </div>
		</div>
		-->
  
		<div class="col-lg-4 col-sm-6">
		  <div class="widget">
			<div class="logo mb-4">
			  <h3>{{ .Site.Data.nav.logo.firstpart -}}<span> {{- .Site.Data.nav.logo.lastpart }}</span></h3>
			</div>
			{{ if .Site.Data.company.support.email }}
				<h6><a href="mailto:{{ .Site.Data.company.support.email }}">{{ .Site.Data.company.support.email }}</a></h6>
			{{ end }}

			{{ if .Site.Data.company.support.phone }}
				<a href="tel:{{ .Site.Data.company.support.phone }}"><span class="text-color h4">{{ .Site.Data.company.support.phone }}</span></a>
			{{ end }}
		  </div>
		</div>
	  </div>
  
	  <div class="footer-btm pt-4">
		<div class="row">
		  <div class="col-lg-6">
			<div class="copyright">
				{{ .Site.Data.company.copyright_html | safeHTML }}
			</div>
		  </div>
		  <div class="col-lg-6 text-left text-lg-right">
			<ul class="list-inline footer-socials">
				{{ if .Site.Data.company.facebook }}
					<li class="list-inline-item"><a href="{{ .Site.Data.company.facebook }}"><i class="fab fa-facebook-f mr-2"></i>Facebook</a></li>
				{{ end }}
				{{ if .Site.Data.company.twitter }}
					<li class="list-inline-item"><a href="{{ .Site.Data.company.twitter }}"><i class="fab fa-twitter mr-2"></i>Twitter</a></li>
				{{ end }}
				{{ if .Site.Data.company.pinterest }}
					<li class="list-inline-item"><a href="{{ .Site.Data.company.pinterest }}"><i class="fab fa-pinterest-p mr-2 "></i>Pinterest</a></li>
				{{ end }}
				{{ if .Site.Data.company.gitlab }}
					<li class="list-inline-item"><a href="{{ .Site.Data.company.gitlab }}"><i class="fab fa-gitlab mr-2 "></i>GitLab</a></li>
				{{ end }}
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </footer>
