<div id="navbar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg px-0 py-4">
          <img loading="lazy" src="https://dimidasko.gitlab.io/universis-website/images/universis-logo-transp.png" alt="UniverSIS logo" width="50" class="img-fluid rounded">
          <a class="navbar-brand" href="/">
            {{ .Site.Data.nav.logo.firstpart -}}<span> {{- .Site.Data.nav.logo.lastpart }}</span>
          </a>
    
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09"
            aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
          </button>
    
          <div class="collapse navbar-collapse text-center" id="navbarsExample09">
            <ul class="navbar-nav ml-auto">
              {{ $current := . }}
              {{ range .Site.Data.nav.menu }}
                <li class="nav-item {{ if eq $current.RelPermalink .url }}active{{ end }}">
                  <a class="nav-link" href="{{ .url }}" {{ if .open_in_new_tab }}target="_blank"{{ end }}>{{ .name }}</a>
                </li>
              {{ end }}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
