<section class="section about-2 position-relative">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					<span class="h6 text-color">{{ .preheading }}</span>
					<h2 class="mt-3 mb-4 position-relative content-title">{{ .heading }}</h2>
					<p class="mb-5">{{ .text | markdownify }}</p>
					{{ with .button }}
						<a href="{{ .url }}" target="_blank" class="btn btn-main btn-round-full">{{ .text }}</a>
					{{ end }}
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-item-img">
					<img loading="lazy" src="{{ .image_path }}" alt="about-image" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
