// Counter Section 

.counter-item{
	padding: 30px 0;
	
	.counter-stat{
		font-size: 50px;
	}

	p{
		font-size: 15px;
		margin-bottom: 0px;
	}

}

.bg-counter{
	background: url("../images/bg/counter.jpg")no-repeat;
	background-size: cover;
	@extend .overly-2;
}