// Feature section
.section.feature .h6 {
	font-weight: 500;
}
.feature-item{
	position: relative;
	padding-left: 80px;

	i{
		position: absolute;
		left: 0px;
		top:5px;
		font-size: 50px;
		opacity: .4;
	}
}
