// NewsItem section

.news-item{
	position: relative;
	padding-left: 80px;

	i{
		position: absolute;
		left: 0px;
		top:5px;
		font-size: 50px;
		opacity: .4;
	}

	h4 {
		font-size: 18px;
	}

	p {
		font-size: 15px;
	}
}
