// Fonts 
// @import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Montserrat:wght@400;700&family=Poppins:wght@300;400;600;700&display=swap&subset=greek');
//@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab+Serif:wght@600;700&family=Roboto+Slab+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

// https://www.porcupine.gr/journal/post/best-greek-web-fonts1

html{
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  font-family: $extra-font;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  // color: #3a405b;
  color: rgba(0,0,0,0.65);

}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-family: $secondary-font;
  font-weight:600;
  color: $black;
}

h1 ,.h1{
  font-size: 2.5rem;
  
}

h2,.h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 42px;
}

h3,.h3 {
  font-size: 1.5rem;
}

h4,.h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h5,.h5 {
  font-size: 1.25rem;
}

h6,.h6 {
  font-size: 1rem;
}


p{
  line-height: 30px;
}
