$light: #fff;
$primary-color: rgb(247, 87, 87);
// $primary-color: #13b1cd;
$secondary-color: #f5f8f9;
$event-color: #c54041;
$law-color: #b99769;
$black: #242424;
$border-color:#dedede;
$primary-font:'Open Sans', sans-serif;
$secondary-font:'Open Sans', sans-serif;
$extra-font:'Open Sans', sans-serif;
