<section class="contact-form-wrap section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-12 col-sm-12">
				<!--
				<form id="contact-form" class="contact__form" method="post" action="/">
					<h3 class="text-md mb-4">{{ .form_heading }}</h3>
					<div class="form-group">
						<input name="name" type="text" class="form-control" placeholder="Ονοματεπώνυμο" required>
					</div>
					<div class="form-group">
						<input name="email" type="email" class="form-control" placeholder="Email" required>
					</div>
					<div class="form-group-2 mb-4">
						<textarea name="message" class="form-control" rows="4" placeholder="Μήνυμα" required></textarea>
					</div>
					<button class="btn btn-main" name="submit" type="submit">ΑΠΟΣΤΟΛΗ</button>
				</form>
				-->
			</div>

			<div class="col-lg-6 col-sm-12">
				<div class="contact-content pl-lg-5 mt-5 mt-lg-0">
					<span class="text-muted">{{ .preheading }}</span>
					<h2 class="mb-5 mt-2">{{ .heading }}</h2>

					<ul class="address-block list-unstyled">
						<li>
							<i class="ti-direction mr-3"></i>{{ .address1 }}
						</li>
						<li>
							<i class="ti-direction mr-3"></i>{{ .address2 }}
						</li>
						<li>
							<i class="ti-email mr-3"></i>Email: {{ .email }}
						</li>
						<!--
						<li>
							<i class="ti-mobile mr-3"></i>Phone: {{ .phone }}
						</li>
						-->
					</ul>

					<!--
					<ul class="social-icons list-inline mt-5">
						<li class="list-inline-item">
							<a href="https://facebook.com/{{ .facebook }}"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://twitter.com/{{ .twitter }}"><i class="fab fa-twitter"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://linkedin.com/in/{{ .linkedin }}"><i class="fab fa-linkedin-in"></i></a>
						</li>
					</ul>
					-->
				</div>
			</div>
		</div>
	</div>
</section>
