<section class="section about position-relative">
	<div class="bg-about" style="background-image:url('{{ .background_image }}');"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6 offset-md-0">
				<div class="about-item ">
					<span class="h6 text-color">{{ .preheading }}</span>
					<h2 class="mt-3 mb-4 position-relative content-title">{{ .heading }}</h2>
					<div class="about-content">
						<h4 class="mb-3 position-relative">{{ .subheading }}</h4>
						<p class="mb-5">{{ .content | markdownify }}</p>
						{{ with .link }}
							<a href="{{ .url }}" target="_blank" class="btn btn-main btn-round-full">{{ .text }}</a>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
